@font-face {
    font-family: 'Batsand';
    src: url('../fonts/Batsand.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'CANAVAR';
    src: url('../fonts/CANAVAR.ttf') format('truetype');
}

@font-face {
    font-family: 'Baltore';
    src: url('../fonts/Baltore.ttf') format('truetype');
}

body {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoCabecera {
    margin-top: -40px;
}

/* Estilos para h1 */
h1 {
    color: #02AC9A;
    font-family: 'Baltore', sans-serif;
    font-size: 42px;
}

/* Estilos para h2 */
h2 {
    color: #3C3739;
    font-family: 'CANAVAR', sans-serif;
    font-size: 36px;
}

/* Estilo para la letra 'D' en h2 */
.highlighted-letter {
    color: #F095BC;
}

/* Estilos para h3 */
h3 {
    color: #3C3739;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h4 {
    color: #02AC9A;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    color: #3C3739;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.foto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagen {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Estilos para el contador */
#countdown {
    font-family: 'CANAVAR', sans-serif;
    color: #3C3739;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-top: 50px;
}
#countdown div {
    text-align: center;
}
#countdown span {
    font-size: 2em;
    display: block;
}

/* Media query para pantallas con ancho máximo de 768px */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center; /* Opcional: centrar elementos horizontalmente */
    }

    .info {
        align-items: center;
    }

    .form {
        padding-right: 15px;
    }

    .imagenes {
        flex-direction: column;
    }

}