# Django Settings
DJANGO_SECRET_KEY=django-insecure-z&-0=92t&q7jto!b3aj&#a2+*d!56+y&r8&+2o+xn^mwe4xa2%
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web

# Security configuration (Production)
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Superuser Auto-Creation
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@unestadodigital.cl
DJANGO_SUPERUSER_PASSWORD=admin_secure_password_123

# Database configuration
# Leave empty to use SQLite: db.sqlite3
# For PostgreSQL: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://postgres:postgres_password@db:5432/postgres_db
DATABASE_SSL_REQUIRE=False

# Database credentials for PostgreSQL service inside Docker Compose
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

# Email configuration
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=s320.v2nets.com
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_USE_SSL=True
DJANGO_EMAIL_USE_TLS=False
DJANGO_EMAIL_HOST_USER=evento2024@unestadodigital.cl
DJANGO_EMAIL_HOST_PASSWORD=password_email_123
DJANGO_DEFAULT_FROM_EMAIL=evento2024@unestadodigital.cl
