{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Modificar-->
    <meta name="description" content="Un Estado Digital - Construyendo un futuro con confianza">
    <meta name="keywords" content="la Secretaría de Gobierno Digital, la Asociación Chilena de Empresas de Tecnologías de Información (ACTI) y la Universidad de Chile.">
    <meta name="author" content="Alienígenas Productora y Agencia Creativa 2024">
    <meta property="og:title" content="Un Estado Digital">
    <meta property="og:description" content="la Secretaría de Gobierno Digital, la Asociación Chilena de Empresas de Tecnologías de Información (ACTI) y la Universidad de Chile">
    <!--Modificar-->
    <meta property="og:image" content="{% static 'img/foto.png' %}">
    <meta property="og:url" content="https://unestadodigital.cl/">
    <meta property="og:type" content="website">
    <title>Un Estado Digital</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/contenido.css' %}">    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/logoCabecera.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/tematicas.css' %}">
    <link rel="stylesheet" href="{% static 'css/programa.css' %}">
    <link rel="stylesheet" href="{% static 'css/circulos.css' %}">
    <link rel="stylesheet" href="{% static 'css/rectangulo.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

    <div class="contenido">
        <header>
            {% include 'header.html' %}
        </header>
        <div class=logoCabecera>
            {% include 'logoCabecera.html' %}
        </div>
        <br>
        <div class="main">
            <div class="foto">
                <br>
                <div style="margin-top: 50px;">
                    <p>
                        El 9 de octubre, no te pierdas la segunda edición del seminario "Un Estado Digital", un evento clave que reunirá a expertos del sector público, privado y académico para debatir los avances y desafíos en la <strong>transformación digital del Estado de Chile.</strong> Se tratarán temas cruciales como <strong>Inteligencia Artificial, Servicios Digitales, Identidad Digital y Ciberseguridad,</strong> destacando el impacto de estas tecnologías en el futuro del país.
                        Puedes inscribirte para asistir presencialmente o seguir la transmisión en vivo por streaming. 
                        ¡Sé parte del cambio digital en Chile y regístrate ahora!
                    </p>
                </div>
                <br>
                <div style="margin-top: 50px;">
                    <img style="width: 100%;" src="{% static 'img/foto.png' %}" alt="Logo de Un Estado Digital">
                </div>
                <br>
                <div id="countdown">
                    <div>
                        <span id="days"></span>
                        <p>Días</p>
                    </div>
                    <div>
                        <span id="hours"></span>
                        <p>Horas</p>
                    </div>
                    <div>
                        <span id="minutes"></span>
                        <p>Minutos</p>
                    </div>
                    <div>
                        <span id="seconds"></span>
                        <p>Segundos</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="info">
                <h2 style="color: #F6A443;">9 OCTUBRE</h2>
                <br>
                <h3 style="color: #02AC9A;">8:30 - 18:30 Hrs</h3>
                <br>
                <h3>UNIVERSIDAD DE CHILE</h3>
                <h3>CASA CENTRAL</h3>
                <br>
                <p>INTELIGENCIA ARTIFICIAL - SERVICIOS DIGITALES INTEGRADOS</p>
                <p>IDENTIDAD DIGITAL - GOBERNANZA DE DATOS</p>
                <p>CIBERSEGURIDAD - SUMINISTROS TI Y TALENTO DIGITAL</p>
                <br>
                <br>
                <div class="form">
                    <br>
                    <br>
                    <h3>Formulario de Inscripción</h3>
                    <br>
                    <p>CUPOS LIMITADOS</p>
                    <br>
                    {% block content %}
                    {% endblock %}
                    <br>
                    <br>
                    <button onclick="downloadICS()">Agregar al Calendario</button>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <br>
        {% include 'tematicas.html' %}
        {% include 'programa.html' %}
        <br>
        <!--
        <div class="imagenes">
            <div class="imagen">
                <img style="width: 100%;" src="{% static 'img/foto1.png' %}" alt="Logo de Un Estado Digital">
            </div>
        </div>
        -->
        <br>
        <br>
        {% include 'circulos.html' %}
        <br>
        {% include 'footer.html' %}
        {% include 'rectangulo.html' %}
    </div>

    <div id="background-container"></div>

    <script src="{% static 'js/background.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
    <script src="{% static 'js/calendario.js' %}"></script>
    <script>
        // Obtiene la fecha del evento desde el contexto de Django
        var eventDate = new Date("{{ event_date|date:'Y-m-d H:i:s' }}").getTime();

        // Actualiza el contador cada segundo
        var x = setInterval(function() {
            // Obtiene la fecha y hora actuales
            var now = new Date().getTime();

            // Calcula la diferencia en milisegundos
            var distance = eventDate - now;

            // Calcula días, horas, minutos y segundos
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Muestra el resultado en los elementos correspondientes
            document.getElementById("days").innerHTML = days;
            document.getElementById("hours").innerHTML = ("0" + hours).slice(-2);
            document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
            document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);

            // Si la cuenta regresiva termina, muestra un mensaje
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "¡El evento ha comenzado!";
            }
        }, 1000);
    </script>
</body>
</html>