{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Modificar-->
    <meta name="description" content="Tech Awards 2024 en el Centro de Innovación UC Anacleto Angelini. Auditorio Principal.">
    <meta name="keywords" content="Tech Awards, Innovación, Tecnología, 2024, UC, Anacleto Angelini">
    <meta name="author" content="Tech Awards 2024">
    <meta property="og:title" content="Tech Awards 2024">
    <meta property="og:description" content="Únete a nosotros en el Tech Awards 2024 en el Centro de Innovación UC Anacleto Angelini. Auditorio Principal.">
    <!--Modificar-->
    <meta property="og:image" content="{% static 'img/logo.webp' %}">
    <meta property="og:url" content="https://unestadodigital.cl/">
    <meta property="og:type" content="website">
    <title>Un Estado Digital</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/contenido.css' %}">    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/logoCabecera.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/circulos.css' %}">
    <link rel="stylesheet" href="{% static 'css/rectangulo.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

    <div class="contenido">
        <header>
            {% include 'header.html' %}
        </header>
        <div class=logoCabecera>
            {% include 'logoCabecera.html' %}
        </div>
        <br>
        <div class="main">
            <div class="foto">
                <img style="width: 100%;" src="{% static 'img/foto.png' %}" alt="Logo de Un Estado Digital">
            </div>
            <br>
            <div class="info">
                <h2 style="color: #ffc571;">9 OCTUBRE</h2>
                <br>
                <h3 style="color: #56c1a5;">8:30 - 18:30 Hrs</h3>
                <br>
                <h3>UNIVERSIDAD DE CHILE</h3>
                <h3>CASA CENTRAL</h3>
                <br>
                <p>INTELIGENCIA ARTIFICIAL - SERVICIOS DIGITALES INTEGRADOS</p>
                <p>IDENTIDAD DIGITAL - GOBERNANZA DE DATOS</p>
                <p>CIBERSEGURIDAD - SUMINISTROS TI Y TALENTO DIGITAL</p>
                <br>
                <br>
                <div class="form">
                    <br>
                    <br>
                    <h3>Formulario de Inscripcion</h3>
                    <br>
                    <br>
                    {% block content %}
                    {% endblock %}
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="imagenes">
            <div class="imagen">
                <img style="width: 100%;" src="{% static 'img/foto1.png' %}" alt="Logo de Un Estado Digital">
            </div>
        </div>
        <br>
        <br>
        {% include 'circulos.html' %}
        <br>
        {% include 'footer.html' %}
        {% include 'rectangulo.html' %}
    </div>

    <div id="background-container"></div>

    <script src="{% static 'js/background.js' %}"></script>
</body>
</html>