{% load static %}
<footer>
    <div class="superior">
        <div class="map">
            <h3>Casa Central de la Universidad de Chile</h3>
            <br>
            <p> Avenida Libertador Bernardo O´Higgins 1050, Santiago</p>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.1862313345355!2d-70.65330852500865!3d-33.444454297203855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a0c86d1a53%3A0x20e1e1fa7a585e07!2sAv.%20Libertador%20Bernardo%20O&#39;Higgins%201050%2C%208330111%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1726443224556!5m2!1ses-419!2scl" width="90%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="organiza">
            <h3>ORGANIZA:</h3>
            <div class="logos">
                <div class="grid-item">
                    <a href="https://digital.gob.cl/" target="_blank"><img style="width: 90%;" src="{% static 'img/gob.png' %}" alt="gob"></a>
                </div>
                <div class="grid-item">
                    <a href="https://acti.cl/" target="_blank"><img style="width: 90%;" src="{% static 'img/acti.png' %}" alt="gob"></a>
                </div>
                <div class="grid-item">
                    <a href="https://uchile.cl/" target="_blank"><img style="width: 90%;" src="{% static 'img/uc.png' %}" alt="gob"></a>
                </div>
                <div class="grid-item">
                    <a href="https://chiletec.org/" target="_blank"><img style="width: 90%;" src="{% static 'img/chiletec.png' %}" alt="gob"></a>
                </div>
                <div class="grid-item">
                    <a href="https://www.iadb.org/es" target="_blank"><img style="width: 90%;" src="{% static 'img/bid.png' %}" alt="gob"></a>
                </div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="inferior">
        <br>
        <p>Diseñado por Alienígenas Productora y Agencia Creativa 2024</p>
        <br>
    </div>
    <br>
</footer>