<div class="container">
    <div class="element dots">
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <!-- Elemento 3: Rombo y Línea superpuesta -->
    <div class="diamond-container">
        <div class="line"></div>
        <div class="diamond"></div>
    </div>
</div>