{% load static %}
<br>
<div class="tituloprograma">
    <div>
        <h2 style="color: #F6A443;">programa</h2>
        <br>
        <div class="line2"></div>
        <br>
        <br>
        <p>SE REALIZARÁ STREAMING</p>
        <br>
        <br>
    </div>
    <div class="element dots">
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="row">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <div>
        <img style="width: 90%;" src="{% static 'img/figuras.png' %}" alt="Logo de Un Estado Digital">
    </div>
</div>
<br>
<div class="program-container">

    <!-- Fila 1 (encabezados de tabla) -->
    <div class="cell" style="background-color: #F6A443; margin-bottom: 20px;"><p style="color: rgb(255, 255, 255);">SALA DE HONOR</p></div>
    <div class="cell" style="background-color: #2093D1; color: rgb(255, 255, 255); margin-bottom: 20px;"><p style="color: rgb(255, 255, 255);">SALA VALENTÍN LETELIER</p></div>
    <div class="cell" style="background-color: #00AC9A; color: rgb(255, 255, 255); margin-bottom: 20px;"><p style="color: rgb(255, 255, 255);">PATIO</p></div>

    <!-- Fila 2 -->
    <div class="cell">
        <p>9:00 - 9:30 Hrs</p>
        <p style="color: #F6A443;">Inauguración</p>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>

    <!-- Fila 3 -->
    <div class="cell">
        <p>9:30 - 10:15 Hrs</p>
        <p style="color: #F6A443;">Keynote speaker</p>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>

    <!-- Fila 4 -->
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
        <p>10:15 - 10:45 Hrs</p>
        <p style="color: #00AC9A;">Coffee</p>
    </div>

    <!-- Fila 5 -->
    <div class="cell">
        <p>10:45 - 12:15 Hrs</p>
        <p style="color: #F6A443;">Inteligencia artificial</p>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>

    <!-- Fila 6 -->
    <div class="cell">
        <p>12:20 - 13:30 Hrs</p>
        <p style="color: #F6A443;">Gobernanza de Datos</p>
    </div>
    <div class="cell">
        <p>12:20 - 13:30 Hrs</p>
        <p style="color: #2093D1;">Suministro de Tecnología</p>
        <p style="color: #2093D1;">y Compras Públicas</p>
    </div>
    <div class="cell"></div>

    <!-- Fila 7 -->
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
        <p>13:30 - 14:30 Hrs</p>
        <p style="color: #00AC9A;">Almuerzo</p>
    </div>

    <!-- Fila 8 -->
    <div class="cell">
        <p>14:30 - 15:45 Hrs</p>
        <p style="color: #F6A443;">Identidad Digital</p>
    </div>
    <div class="cell">
        <p>14:30 - 15:45 Hrs</p>
        <p style="color: #2093D1;">Servicios Digitales Integrados</p>
    </div>
    <div class="cell"></div>

    <!-- Fila 9 -->
    <div class="cell">
        <p>15:50 - 17:00 Hrs</p>
        <p style="color: #F6A443;">Talento Global</p>
    </div>
    <div class="cell">
        <p>15:50 - 17:00 Hrs</p>
        <p style="color: #2093D1;">Ciberseguridad</p>
    </div>
    <div class="cell"></div>

    <!-- Fila 10 -->
    <div class="cell">
        <p>17:05 - 18:00 Hrs</p>
        <p style="color: #F6A443;">Cierre y Premiación</p>
        <p style="color: #F6A443;">más transformadoras</p>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>

    <!-- Fila 11 -->
    <div class="cell"></div>
    <div class="cell">
        <div class="element dots">
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div class="cell">
        <p>18:30 - 19:30 Hrs</p>
        <p style="color: #00AC9A;">Cóctel</p>
    </div>
</div>
