{% load static %}
<div class="tematicas">
    <div class="grid-panel full-width">
        <h2 style="color: #00AC9A;">temáticas</h2>
        <br>
        <div class="line2"></div>
        <div class="element dots">
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="row">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div class="grid-panel">
        <div class="panel">
            <h3>INTELIGENCIA ARTIFICIAL</h3>
            <h4>Multiplicación de capacidades en un marco ético</h4>
            <br>
            <p>Este panel analizará cómo la Inteligencia Artificial (IA) está transformando los servicios públicos, con ejemplos concretos de su aplicación. Se debatirán los desafíos éticos y cómo asegurar un uso responsable de la IA en el Estado, mejorando la atención ciudadana y la eficiencia de los servicios.</p>
            <div class="big-number">1</div>
        </div>
    </div>
    <div class="grid-panel wide-2">
        <img style="width: 100%;" src="{% static 'img/tematicas.png' %}" alt="Logo de Un Estado Digital">
    </div>

    <!-- Tercera fila (tres elementos, cada uno ocupa 1 columna) -->
    <div class="grid-panel">   
        <!-- GOBERNANZA DE DATOS -->
        <div class="panel">
            <h3>GOBERNANZA DE DATOS</h3>
            <h4>Uso de datos para brindar mejores servicios públicos</h4>
            <br>
            <p>Abordaremos la relevancia de la gobernanza de datos en el sector público, destacando el intercambio de información entre organismos, decisiones basadas en datos y la creación de políticas de datos abiertos, garantizando seguridad y privacidad.</p>
            <div class="big-number">2</div>
        </div>
    </div>
    <div class="grid-panel">
        <!-- SUMINISTRO DE TECNOLOGÍA Y COMPRAS PÚBLICAS -->
        <div class="panel">
            <h3>SUMINISTRO DE TECNOLOGÍA Y COMPRAS PÚBLICAS</h3>
            <h4>Potenciando sinergias con el sector privado</h4>
            <br>
            <p>Este panel analizará cómo mejorar la eficiencia en el suministro de tecnología y las compras públicas, destacando buenas prácticas y lecciones aprendidas. Se discutirán los desafíos para optimizar los recursos tecnológicos en el Estado y cómo promover una colaboración más efectiva entre el sector público y el privado para apoyar la innovación y modernización.</p>
            <div class="big-number">3</div>
        </div>
    </div>
    <div class="grid-panel">
        <!-- IDENTIDAD DIGITAL -->
        <div class="panel">
            <h3>IDENTIDAD DIGITAL</h3>
            <h4>Fortalezas y oportunidades del modelo chileno</h4>
            <br>
            <p>Exploraremos los beneficios de la identidad digital para el gobierno, el sector privado y los ciudadanos, destacando la importancia de un sistema seguro y eficiente. Se tratarán temas como la privacidad de los datos, la interoperabilidad entre organismos y el uso de biometría para la autenticación. Además, se analizarán avances como la cédula de identidad digital y los desafíos de la identidad digital transfronteriza.</p>
            <div class="big-number">4</div>
        </div>  
    </div>

    <!-- Cuarta fila (un elemento que ocupa toda la fila de 3 columnas) -->
    <div class="grid-panel">
        <!-- PLATAFORMAS DE SERVICIOS DIGITALES INTEGRADOS -->
        <div class="panel">
            <h3>PLATAFORMAS DE SERVICIOS DIGITALES INTEGRADOS</h3>
            <h4>Construyendo servicios accesibles para personas y empresas</h4>
            <br>
            <p>Se analizarán las claves para integrar servicios gubernamentales de manera eficiente, poniendo al ciudadano en el centro del diseño de servicios y explorando modelos de interoperabilidad y calidad.</p>
            <div class="big-number">5</div>
        </div>
    </div>
    <div class="grid-panel">
        <!-- TALENTO GLOBAL -->
        <div class="panel">
            <h3>TALENTO GLOBAL</h3>
            <h4>Desarrollando la fuerza laboral del futuro</h4>
            <br>
            <p>Este panel buscará soluciones para cerrar la brecha de profesionales TIC en Chile, explorando oportunidades de colaboración público-privada y estrategias para capacitar al talento necesario para la transformación digital.</p>
            <div class="big-number">6</div>
        </div>
    </div>
    <div class="grid-panel">
        <!-- CIBERSEGURIDAD -->
        <div class="panel">
            <h3>CIBERSEGURIDAD</h3>
            <h4>Provisión de servicios digitales con riesgos controlados</h4>
            <br>
            <p>Analizaremos la nueva Ley Marco de Ciberseguridad, las tendencias globales en ciberataques, y cómo fortalecer la protección de la infraestructura crítica, garantizando la seguridad en la entrega de servicios digitales.</p>
            <div class="big-number">7</div>
        </div>
    </div>
</div>
